
$mobile-break: 950px;

#mobile-menu {
    position: absolute;
    height: 100vh;
    background: white;
    width: 70%;
    // needs to be higher than
    // announcement bar
    z-index: 10000000;
    outline: none;
    overflow: hidden;

    transform: translateX(-100%);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
    &.open {
      transform: translateX(0);
    }
  
    @media screen and (min-width: $mobile-break){
      display: none;
    }

    li {
        background: #F9F9F9;
        border-bottom: 1px solid #848C96;
        padding-left: 24px;
        &:first-of-type {
            border-top: 1px solid #848C96;
        }

        &.mobile-search-link {
            background: white;
            a {
                display: inline-block;
                svg {
                    margin-left: 8px;
                    margin-top: 2px;
                }
            }
        }

        a {
            font-family: lato, sans-serif;
            font-size: 1.4rem;
            color: #000000;
            letter-spacing: 0;
            text-decoration: none;


            width: 100%;
            padding: 20px 0;
            padding-right: 20px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            -webkit-tap-highlight-color: transparent;
            tap-highlight-color: transparent;
        }
    }

    .menu-header {
        font-family: lato, sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
        color: #000000;
        letter-spacing: 0;
        padding: 20px 24px;
        

        button {
            @extend .menu-header;
            outline: none;
            padding: 0;
            -webkit-appearance: none;
            border-radius: 0;
            border: 0;
            span {
                padding-left: 15px;
            }
            -webkit-tap-highlight-color: transparent;
            tap-highlight-color: transparent;
        }
    }
}


  
.mobile-menu-mask {
    opacity: 0;
    transition: opacity 300ms cubic-bezier(.5, 0, .5, 1);

    @media screen and (min-width: $mobile-break){
        display: none;
    }
}
  
.mobile-menu-open {
    overflow: hidden;

    @media screen and (min-width: $mobile-break){
        overflow: initial;
    }

    .mobile-menu-mask {
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        opacity: 1;

        @media screen and (min-width: $mobile-break){
        display: none;
        }
    }
}

  
.mobile-menu-panel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow-y: scroll;
    background: #fff;
    transition: transform .4s cubic-bezier(.23,1,.32,1),visibility 0s linear .4s;
    visibility: hidden;
    transform: translateX(100%);
    // overflow: hidden;

    &.is-active {
        visibility: visible;
        transition: transform .4s cubic-bezier(.23,1,.32,1),visibility 0s;
        transform: translateX(0);
    }
}

