html {
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}


/////////////// Theme Headings
.heading {
  font-family: village-titling, serif;
  font-style: normal;
}

h1,
h2, 
.heading-main {
  @extend .heading;
  font-weight: 700;
  font-size: 6.4rem;
  letter-spacing: -1.43px;
  line-height: 1.3;
}

header {
  h1 {
    font-size: initial;
  }
}

.heading-medium {
  @extend .heading;
  font-size: 3.6rem;
  letter-spacing: 0.3px;
  line-height: 1.2;

  @media screen and (max-width: 750px) {
    font-size: 2.4rem;
    line-height: 1.25;
  } 
}

h3,
.heading-section {
  @extend .heading;
  font-weight: 400;
  font-size: 3.2rem;
  letter-spacing: -0.21px;
  line-height: 1;
}


h4,
.heading-card {
  @extend .heading;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0px;
  line-height: 1;
}

.heading-card--small {
  font-family: source-sans-pro, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 2.7px;
  line-height: 1.6;
}

.heading-footer {
  @extend .heading;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.1px;
}

.heading-mega-nav {
  @extend .heading;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.1px;

  @media screen and (max-width: 1000px){
    font-size: 1.2rem;
  }

  @media screen and (max-width: 1200px){
    font-size: 1.3rem;
  }
}

// TODO: move to component
h5,
.heading-small {
  font-family: source-sans-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2.9px;
  line-height: 1;
  &--with-line {
    @extend .heading-small;
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 10px;
      background: $background-secondary;
      margin: 20px auto 0;
    }
  }

  &--with-line__left {
    @extend .heading-small;
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 10px;
      background: $background-secondary;
      margin: 10px 0 0;
    }
  }
}



.heading-banner {
  @extend .heading;
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 1.03px;
  line-height: 2;
  @media screen and (max-width: 900px) {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.24px;
    line-height: 1.4;
  } 
}
/////////////// Theme Body

.card-body {
  font-family: source-sans-pro, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 2.75px;
  line-height: 1.6;
}


p,
.main-body-text {
  font-family: source-sans-pro, sans-serif; 
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.8;
}

.product-text__title {
  font-family: source-sans-pro, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.7px;
  line-height: 1.3;
  font-weight: 400;
}

.product-text__sub-title {
  @extend .product-text__title;
  font-weight: 300;
}

.price-text {
  letter-spacing: 0.44px;
  font-family: lato, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.3;

  &.price-text--large {
    font-size: 2rem;
  }

  &.original-price {   
    text-decoration: line-through;
    color: #BCC0C6;
  }
}


.danger-text {
  color: #C8493E;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.4rem;
  letter-spacing: 0.7px;
}


ol, ul {
  font-family: source-sans-pro, sans-serif;
  font-size: 1.5rem;
  color: #000000;
  letter-spacing: 0.47px;
  line-height: 1.8;
}


i {
  font-family: village-titling, serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #000000;
  letter-spacing: 0.95px;
  line-height: 1.5;
}

#qab_message {
  font-family: source-sans-pro, sans-serif;
  font-size: 1.5rem;
}

.product-title i {
  font-weight: 400;
  font-size: 3.2rem;
  letter-spacing: -.21px;
  line-height: 1.2;
}

.heading-section, h3 {
font-weight: 400;
font-size: 3.2rem;
letter-spacing: -.21px;
line-height: 1.2
}

.product-main-section .product-info .product-title {
margin-bottom: 10px

}
