<h2>Women & Men in the Word of God every day.</h2>
<h2 class="heading-medium">Design on Purpose: Women & Men in the Word</h2>
<h3>Header three</h3>
<h4>Header four</h4>
<h5  class="heading-small--with-line">What's Popular</h5>
<h3 class="heading-banner">heading-banner</h3>
<p>Source Sans Pro Light 15pt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<button class="button--primary">Shop now</button>
<button class="button--secondary">Shop now</button>
