$mobile-break: 750px;

.featured-blog {
    
    &--section {
        background: $background-primary;
        display: flex;
        height: 415px;
        max-width: 1380px;
        width: 90%;
        margin: 0 auto;

        @media screen and (max-width: $mobile-break) {
            flex-direction: column;
            height: auto;
         }
    }

    &--image-wrapper {
        flex: 2;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--content-wrapper {
        flex: 1;
        padding: 50px;
        display:  flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: $mobile-break) {
            padding: 35px;
         }
    }

    &--title {
        margin-top: 7px;

        @media screen and (max-width: $mobile-break) {
            margin-bottom: 25px;
            width: 85%;
         }
    }
}
